@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-center">Welcome To TN BookStore</h1>
</div>
<div>
    <img src="~/Images/BookWorld.jpg" alt="BookStore" width="100%" height="500"/>
</div>
